
body {
    background-image: url(everest-minimalist-wallpaper-blue.png);
    background-size: cover;
}

h1 {
    color: darkslateblue;
    line-height: 2rem;
    font-family: 'Montserrat', Serif, sans-serif;
}

h2 {
    color: darkslateblue;
    line-height: 2rem;
    font-family: 'Nunito', Serif, sans-serif;
}

h3 {
    color: darkslateblue;
    line-height: 2rem;
    font-family: 'Cabin', Serif, sans-serif;
}

a {
    text-decoration: none;
    font-size: 20px;
}


.square {
    width: 100px;
    height: 100px;
    background-color: #442fff;
    margin: auto;
}

.formatting {
    font-size: 25px;
    line-height: 2em;
    color: darkslateblue;
}


.container {
    background: linear-gradient(to right, #66ccff, #ff4d94);
    box-shadow: 3px 5px 3px black;
}


.borderImg {
    border: 2px solid red;
}

/*makes changes to every list under the unordered list*/
ul li {
    color: darkblue;
    font-size: 20px;
}

/*Only makes changes one level deep*/
ul > li {
    color: red;
}

